//  colors
$_white: #FFFFFF;
$_black: #000;
$_grey: #858585;
$_light_violet: #df34d2;
$_violet: #bf22e1;
$_dark_violet: #8306f7;
$_red: #f84e4e;


// font-size
$_logo: 40px;
$_text: 15px;
$_price: 20px;

