@import './cdn';
@import './font';
@import './mixin';
@import './variables';
@import './header.scss';
@import './slider.scss';
@import './product_cards.scss';
@import './cart.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: "Open Sans", sans-serif;
}

#root {
    position: relative;
}

.container {
    position: relative;
    max-width: 1500px;
    padding: 0 20px;
    margin: auto;
    z-index: 2;

    @media (max-width: 1200px) {
        max-width: 1170px;
    }
    @media (max-width: 1024px) {
        max-width: 984px;
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}